<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bf8d0a2d93.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="fullside.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Document</title>
</head>
<body>

    <!-- <div class="preloader">
        <img src="images 5.jpg" alt="Preloader Image" class="preloader-image" />
      </div> -->

    <!-- header start --> 
<header class="header">  
    <a href="#" class="logo"><i class="fa-regular fa-eye"></i>_MediConnect</a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#feature">counsellor</a>
        <a href="#product">review</a>
        <a href="#blogs">Seminar</a>
        <a href="/lobby">Join a seminar</a>
    </nav>

    <div class="icons">
        <div class="fa-solid fa-bars" id="menu-btn"></div>
        <div class="fa-solid fa-search" id="search-btn"></div>
        <!-- <div class="fa-solid fa-shopping-cart" id="card-btn"></div> -->
        <a href="loginform.html"><div class="fa-solid fa-user" id="login-btn"></div></a>
    </div>

    <form action="" class="search-from">
        <input type="search" id="search-box" placeholder="seach here...">
        <label for="search-box" class="fa-solid fa-search"></label>
    </form>



</header>
    <!-- header end -->


    <!-- home-section-start -->
    <div class="feature2">
        <div class="feacture_conatnt">
            <div class="left_part">
                <h2>Our Feature And Section</h2>
                <h1 class="Main-h1">Get <span class="role"></span></h1>
            </div>
            <div class="right_part">
                <img src="medical-5459630_1280.png" alt="" >
            </div>
        </div>
    </div> 
    
    <!-- home-section-end -->

     <!-- feature section starts -->
<section class="feature" id="feature">
    <h1 class="heading">our<span>counsellor</span></h1>

    <div class="box-container">
        <div class="box">
            <img src="a-mature-indian-male-doctor-on-a-white-background-ai-generated-photo.jpg" alt="" width="220px" >
            <h3>Dr: Utkarsh</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, inventore.</p>
            <a href="bookAp.Html"  class="btn" onclick="openFollow()">Book Appointment </a>
        </div>

        <div class="box">
            <img src="handsome-indian-doctor-generate-ai-photo.jpg" alt="" width="220px">
            <h3>Dr: Pravin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, inventore.</p>
            <a href="bookAp.Html" class="btn">Book Appointment </a>
        </div>

        <div class="box">
            <img src="istockphoto-1494324933-170667a.webp" alt="" width="220px">
            <h3>Dr: Monal</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, inventore.</p>
            <a href="bookAp.Html" class="btn">Book Appointment </a>
        </div>
    </div>
</section> 
    <!-- feature section end -->


    <!-- product-section-start -->
<section class="product" id="product">
    <h1 class="heading">our <span>review</span></h1>

    <div class="swiper product-silder">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg" alt="" width="250px">
                <h3>Sharvan jatan</h3>
                <div class="price">19-4-2023</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html"  class="btn" >add your review</a>
            </div>
            <div class="swiper-slide box">
                <img src="images.jpg" width="250px">
                <h3>Ravi yadav</h3>
                <div class="price">25-4-2023 </div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
            </div>

            <div class="swiper-slide box">
                <img src="images2.jpg" alt="" width="250px">
                <h3>Nikhil hasan</h3>
                <div class="price">8-9-2023</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
            </div>

            <div class="swiper-slide box">
                <img src="images3.avif" alt="" width="250px">
                <h3>Dhiraj goi</h3>
                <div class="price">18-7-2023</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
        </div>
    </div>

    <div class="swiper product-silder">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="images4.jpg" alt="" width="250px">
                <h3>Swapnil Rana</h3>
                <div class="price">1-4-2024</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
            </div>
            <div class="swiper-slide box">
                <img src="images 5.jpg" alt="" width="250px">
                <h3>Atul bahs</h3>
                <div class="price">5-12-2024</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
            </div>

            <div class="swiper-slide box">
                <img src="images 6.jpg" alt="" width="250px">
                <h3>sujall das</h3>
                <div class="price">11-8-2024</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
            </div>

            <div class="swiper-slide box">
                <img src="images7.jpg" alt="" width="250px">
                <h3>niraj goli</h3>
                <div class="price">6-9-2024</div>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <a href="review.html" class="btn">add your review</a>
        </div>
    </div>
</section>
    <!-- product-section-end -->


    
    <div class="semiaar">  
        <h1 class="heading">our <span>Seminar</span></h1>
    <div class="fond" id="blogs">
        <span class="s1 blog"></span>
        <span class="s2 card"></span>
    </div>
    <% seminars.forEach((sem) => { %>
    <div class="card">
        <div class="thumbnail">
            <img class="left" src="seminar.webp" />
        </div>
        <div class="right">
            <h1>Get a detail on upcoming Seminar</h1>
            <div class="author">
                <a href="seminar.html"><button class="button-53" role="button">Upcoming Seminar</button></a>
                
            </div>
            <div class="separator"></div>
            <p><%= sem.guestDescription%>

                Sincerely,<br><br>
                sem.guestName</p>
            <h6><%= sem.date %></h6>
        </div>
        <div class="fab">
            <i class="fa fa-arrow-down fa-3x"></i>
        </div>
    </div>
    <% }) %>>

</div>
    






    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Call</a></li>
                        <li><a href="#">Seminar</a></li>
                        <li><a href="#">Healt</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Need</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">video solution</a></li>
                        <li><a href="#">Chat to boat</a></li>
                        <li><a href="#">registar</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>








   <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
   <script src="https://mediafiles.botpress.cloud/1f7b0897-c05b-4d2e-a6a2-0bb2f06a6158/webchat/config.js" defer></script>

  
  <!-- End of .container -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="fullside.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


    <script>
        var typeData = new Typed(".role", {
            strings: [
                "your Medico",
                "your Personal Connselling",
                "your Appointment Booking",
                "to Konw about Chronic Diseases",
            ],
            loop: true,
            typeSpeed: 50,
            backSpeed: 50,
            backDelay: 1000,
        });
    </script>
</body>
</html>